* text=auto

*.py linguist-language=Python
*.md linguist-language=Markdown
*.hpp linguist-language=C++
*.cpp linguist-language=C++

*.py linguist-language=true
*.md linguist-language=true
*.hpp linguist-language=true
*.cpp linguist-detectable=true

*.gdshader linguist-documentation=true