export.cfg
export_presets.cfg

*._*
*.a
*.o
*.translation
*.pot
*.mo
*.mo
*.md5
*.tmp
*.ctex
*.scn
*.cfg
*.dll
*.obj
*.exp
*.lib
*.dylib
*.dblite
*.oggvorbisstr
*.import

/.godot
__pycache__
.mono/
data_*/
/.vscode
.import/
.godot/editor/filesystem_update4